*{
    margin: 0;
    padding: 0;
    font-family:Helvetica, Arial, sans-serif; ;
}
.images{
    width: 240px;
    align-items: center;
}
.login{
    background-color: aliceblue;
 box-shadow: darkgray;
}